<a href="https://colab.research.google.com/github/dayanebravo/AED/blob/main/AED_AP_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Análise Exploratória de Dados - AED** - **Aula Prática 01**

> **Comandos e bibliotecas básicas**

In [ ]:
import pandas as pd  # biblioteca com ferramentas para análise de dados/dataframes
import numpy as np  # biblioteca com operações matemáticas

In [ ]:
# Pesquisa Nacional por Amostra de Domicílios - PNAD (IGBE)
df = pd.read_csv("https://raw.githubusercontent.com/dayanebravo/AED/main/pes_2012.csv")  # ler dados no formato CSV

In [ ]:
df.head()  #  exibe as primeiras linhas da tabela

In [ ]:
df.shape  # informa a dimensão da tabela (linhas, colunas)

In [ ]:
df.info()  # informações gerais dos dados

In [ ]:
df.dtypes  # informa os tipos de dados de cada coluna

In [ ]:
df.V4718  #  acessar dados da coluna

In [ ]:
df["V4718"]  #  acessar e ALTERAR dados da coluna

In [ ]:
df.dropna(axis="columns")  # remove colunas com ao menos um valor inválido

In [ ]:
df.dropna()  # remove linhas com ao menos um valor inválido - mas não altera o dataframe original

In [ ]:
ndf = df.dropna()  # criando um NOVO dataframe com as linhas inválidas removidas

In [ ]:
ndf.head()  #  exibe as primeiras linhas da tabela

In [ ]:
ndf.dtypes  # informa os tipos de dados de cada coluna

> Observar as colunas V4718 e V4720

In [ ]:
df["V4718"] = pd.to_numeric(df["V4718"],errors="coerce")  # transformar dados da coluna em float e substituir os erros por NaN
df["V4720"] = pd.to_numeric(df["V4720"],errors="coerce")

In [ ]:
df.dtypes  # informa os tipos de dados de cada coluna

# **Variáveis Qualitativas e Quantitativas**

In [ ]:
df.select_dtypes(include=['object'])  # seleciona os valores qualitativos encontrados nos dados

In [ ]:
df.select_dtypes(include=['number'])  # seleciona os valores quantitativos encontrados nos dados

> **Valores Quantitativos: discretos ou contínuos**

In [ ]:
print(type(df.V0101[1]))  # valor quantitativo discreto (finito) da coluna e posição indicada
df.V0101[132]

In [ ]:
pdmedia = ndf.V8005.mean()   # valor quantitativo contínuo (não enumerável) - média das idades pela PANDAS
print("A média é: ", pdmedia)
type(pdmedia)  # tipo da variável calculada

In [ ]:
npmedia = np.mean(ndf.V8005)   # valor quantitativo contínuo (não enumerável) - média das idades pela NUMPY
print("A média é: ",npmedia)

 
> **Representação numérica**

In [ ]:
print("%.2f" % pdmedia)   # arredondamento 2 casas decimais

In [ ]:
print("%.5f" % pdmedia)   # arredondamento 5 casas decimais

In [ ]:
print('{:e}'.format(pdmedia))   # notação científica

In [ ]:
print('{:.2e}'.format(pdmedia))   # notação científica com 2 casas decimais

# ***Frequência de dados***
> ***Frequência Absoluta***

In [ ]:
ndf.V0404.value_counts()   #  frequência qualitativa - características físicas

In [ ]:
ndf.V8005.value_counts()    # frequência quantitativa - idade

>***Frequência Relativa***

In [ ]:
print("número total de observações: ", len(ndf.V0404) )   #  número total de observações - linhas

np.divide(ndf.V0404.value_counts(), len(ndf.V0404))  #  frequência relativa da coluna indicada - características físicas

In [ ]:
print("número total de observações: ", len(ndf.V8005))   #  número total de observações - linhas

np.divide(ndf.V8005.value_counts() , len(ndf.V8005))  #  frequência relativa da coluna indicada - idade

## Próximas aulas...
> **Gráficos de frequência**

> **Tabela em Grupos**

In [ ]:
ndf.groupby(['V0302','UF']).agg({'V8005': np.mean})  # Tabela agrupando: sexo / UF / idade média